@use 'variables';

.wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 1260px;
}

img{
    max-width: 100%;
    display: block;
}
html {
    font-size: 125%;
}
ul,
li,
a,
input {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    color: inherit;
}