@use 'variables';

header{
    height: 50vh;
    background-image: url(../assets/leafyBackground2.avif);
}

.mainHeaderFlex{
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    height: 300px;
}


.navFlex{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    padding-top: 10px;
}

.headerNavUl{
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    a{
        color: variables.$white;
    }

}

.headerTextFlex{
    width: 70%;
    text-align: center;
    p{
        color: variables.$white;
        padding-bottom: 15px;
        
    }
}
