@use 'variables';

#projects{
    background-color: variables.$tan;
    height: 100vh;
    @media (max-width: 505px){
        height: 185vh;
    }
    h2{
        padding-top: 80px;
    }
}


.projectSection{
    background-color: variables.$tan;

}

.mainProjectsFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.individualProjectBox{
    background-color: variables.$white;
    width: 40%;
    @media (max-width: 505px){
        width: 60%;
    }
    margin: 10px 10px;
    max-width: 400px;
    min-width: 200px;
    padding: 10px;
    .smallText{
        font-size: 0.6rem;
    }
}