@use 'variables';

.projectSection{
    height: 50vh;
    background-color: variables.$tan;

}

.mainProjectsFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.individualProjectBox{
    background-color: variables.$white;
    width: 40%;
    margin: 10px 10px;
    max-width: 400px;
    min-width: 200px;
}