@use './variables';

body{
    font-family: "Asul", serif;
}

h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

h1{
    color: variables.$white;
    font-size: 3.5rem;
    padding-top: 100px;
    font-family: "Arvo", Arial, Helvetica, sans-serif;
}

h2{
    padding: 20px 0px;
    font-size: 2rem;
}